---
layout: default
title: choice
description: "鱼，我所欲也，熊掌亦我所欲也；二者不可得兼，舍鱼而取熊掌者也。"
catalog: true
header-img: "img/choice-bg-4.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <p><strong>前言</strong></p>

    <p><strong>相关链接</strong></p>
    
    dicmo: <a href="https://github.com/xf-pan/dicmo">点击这里</a>
</div>
