---
layout: default
title: dicmo
description: an easy way to implement discrete choice modeling
header-img: "img/dicmo-bg-1.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    
    <h3>前言</h3>
    
    <p>开发一个软件包，首先面对的一个问题就是：市面上有这么多功能类似的软件，为什么要再重新开发一个？对我而言，开发dicmo这个软件包的初衷有三个。其一，
       是为了学习离散选择模型。我一直认为，深入学习一个模型最好的方式就是从头到尾、一步一步自己执行一遍。所以从一开始，我就放弃了诸如NLOGIT、biogeme、
       mlogit等现有工具，而选择自己写代码。其二，代码写多了以后，就会觉得就这么把这些代码扔了实在是太可惜了。所以就产生了将这些代码封装的想法。如果能够
       推广的话，顺便提升一下自己的人气。其三，纯粹是个人原因。我始终有颗程序员的心在蠢蠢欲动，虽然我离一个合格的程序员还差的太远（不知是可喜还是可悲）。
       那么，dicmo究竟有哪些特点呢？</P>

    <p>其一，dicmo是基于R开发的，免费且开源。对于使用商业软件还是开源软件，其实是件仁者见仁，智者见智的事。两者各有利弊，总的来说，商业软件需要付费
       使用，更新慢（多数软件每次更新还要支付部分费用），计算过程对于用户而言是个黑箱；但是稳定，计算得到的结果可靠性高。而开源软件更新快，用户可以
       追寻计算过程，扩展功能强大（例如R、Python）；导致的结果是频繁更新、计算结果可靠性低（尤其是对于刚发布的软件包，问题尤甚）。我个人是坚定的开
       源软件支持者。我选择基于R开发软件包，主要原因R强大的扩展包。对于已经广泛使用的包，其可靠性还是有保证的。例如，应用dplyr包进行数据预处理，
       应用maxLik包进行极大似然估计，以及应用numDerive包计算Hessian矩阵。这些包都极大的简化了我的开发过程，是我能够专注于模型本身，而不是其他一些
       次要的事情。</p>

    <p>其二，dicmo可以简化用户数据处理的工作。这是我开发dicmo的一个重要目标 - 简化在模型估计之前的数据处理流程。这里所说的数据处理，主要是指数据集
       由wide型到long型的转化以及离散变量的coding过程，未来还会包括一个变量的多个水平的合并。</p>

    <h3>MNL - multinomial logit model</h3>

    <p>以mlogit包中的数据集</p>

    <h3>相关链接</h3>
    
    <p>dicmo: <a href="https://github.com/xf-pan/dicmo/tarball/master">Package source</a> / 
              <a href="https://github.com/xf-pan/dicmo/zipball/master">Windows binaries</a></p>
</div>
