---
layout: default
title: dicmo
description: an easy way to implement discrete choice modeling
header-img: "img/dicmo-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <p><strong>前言</strong></p>
    
    <p>开发一个软件包，首先面对的一个问题就是：市面上有这么多功能类似的软件，为什么要再重新开发一个？对我而言，开发dicmo这个软件包的初衷有三个。其一，
    是为了学习离散选择模型。我一直认为，深入学习一个模型最好的方式就是从头到尾、一步一步自己执行一遍。所以从一开始，我就放弃了诸如NLOGIT、biogeme、
    mlogit等现有工具，而选择自己写代码。其二，代码写多了以后，就会觉得就这么把这些代码扔了实在是太可惜了。所以就产生了将这些代码封装的想法。如果能够
    推广的话，顺便提升一下自己的人气。其三，纯粹是个人原因。我始终有颗程序员的心在蠢蠢欲动，虽然我离一个合格的程序员还差的太远（不知是可喜还是可悲）。
    那么，dicmo究竟有哪些特点呢？</P>

    <p>其一，dicmo是基于R开发的，免费且开源。</p>

    <p><strong>相关链接</strong></p>
    
    dicmo: <a href="https://github.com/xf-pan/dicmo">https://github.com/xf-pan/dicmo</a>
</div>
