---
layout: default
title: dicmo1
description: an easy way to implement discrete choice modeling
header-img: "img/dicmo-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <!--<hr class="small">-->
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <p><strong>教育背景</strong></p>
    
    <p>学士：2008.9 ~ 2012.6，哈尔滨工业大学，交通工程</br>
       硕士：2012.9 ~ 2015.6，大连理工大学，交通运输规划与管理</br>
       博士：2015.9 ~ 2020.2，Eindhoven University of Technology，Urban Planning and Transportation</p>
</div>
